<%- include('header') -%>
<%- include('mainmenu') -%>
<div class="container">
   <div class="row">
      <div class="col-12">
         <br>
         <h2><%= recipe.name %> </h2>
         <br>
         <div class="container">
            <div class="row">
               <h6>Hozzávalók:</h6>
               <div class="col-sm">
               </div>
               <div class="col-sm">
                  <div class="dropdown mb-3">
                     <button class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">Adag
                     <span class="caret"></span></button>
                     <ul class="dropdown-menu">
                        <li><a href='/recept/<%= recipe._id %>/1'>1</a></li>
                        <li><a href='/recept/<%= recipe._id %>/2'>2</a></li>
                        <li><a href='/recept/<%= recipe._id %>/3'>3</a></li>
                        <li><a href='/recept/<%= recipe._id %>/4'>4</a></li>
                        <li><a href='/recept/<%= recipe._id %>/5'>5</a></li>
                        <li><a href='/recept/<%= recipe._id %>/6'>6</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <%- include('receptalapanyagoktable') -%>
   </div>
</div>
<div class="d-flex justify-content-center">
   <div class="card" style="width: 40rem;">
      <%= recipe.description %> 
   </div>
</div>
<br />
<div class="d-flex justify-content-center">
   <a class="btn btn-link" href="/">Vissza a receptekhez</a>
</div>
</div>
</div>
</div>
<%- include('footer') -%>